*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightcoral;
    margin-top: .5%;
    margin-bottom: .5%;
}

header{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.426);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-shadow: 0px 2px rgb(55, 45, 45);
    border-radius: 4px;
}
.user_photo{
    height: 25px;
    width: 25px;
    object-fit: contain;
    border: 1px solid gray;
    border-radius: 2px 2px 2px 2px;
}

header .nav_logo{
    display: flex;
    align-content: center;
    gap: 4px
}

main{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;    
    margin-top: 21px;
    background-color: rgb(243, 108, 108);
    display: block;
    padding: 20px;
    border-radius: 10px;
}

.pom_break_button, .time, .start{
    display: flex;
    justify-content: center;
    gap: 6px;
}

.time{
    font-size: 120px;
}

.start button{
    border-radius: 5px;
    text-align: center;
    width: 140px !important;
    font-size: 50px;
    transition: 0.5s;
}

.start button:hover{
    background-color: gray;
}
