*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #d95550;
}

.center_div{
    width: 33%;
    margin: 0 auto;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 3em;
    background-color: #d95550;
    align-items: center;
    border-radius: .7em .7em;
    margin-top: .3em;
    box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.71);
}

.nav p{
    margin-left: 1em;
    color: white;
    font-size: 1.2rem;
}

.rest_nav{
    display: flex;
    margin-right: 1em;
    padding-left: 1em;
}
.rest_nav img{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
}

.rest_nav button,img{
    margin-left: .7em;
}

.rest_nav button{
    font-size: 1rem;
    width: 4.2em;
}

.timer{
    width: 28% !important;
    margin-top: 3%;
    background-color: #dd6662;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 1em 0;
    border-radius: 14px 14px;
}

.three_options button{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-size: 1.1rem;
    height: 2em;
    padding: 2px 12px;
    box-shadow: none;
    background: none;
    cursor: pointer;
    opacity: 1;
}

.three_options button:active{
    translate: 1px 2px;
}

.three_options button:focus{
    border-radius: 3px 3px;
    background-color: rgba(0,0,0,.1);
}
    
.clock{
    font-size: 6.5rem;
}

.start button{
    font-size: 22px;
    width: 6em;
    height: 2em;
}








@media (max-width: 412px) {
    .nav{
        display: flex;
        flex-direction: column;
    }
    .clock{
        font-size: 18px;
    }
}